{% extends "encyclopedia/layout.html" %}
{% load markdownify %}

{% block title %}
Page not Found
{% endblock %} 

{% block form%}
<form action="">
    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
</form>
{% endblock %} 

{% block body %}
    <div class="alert alert-warning" role="alert" style="text-align:center">
        <h1 style="padding:0">404</h1>
        <h3 style="padding:0">Page not Found</h3>
    </div>

    <div style="text-align:center; margin-top:30px">
        <a class="alert alert-info" role="alert" href="{%url 'new_page' %}">Try creating a new "{{entry}}" page!</a>
    </div>

{% endblock %}