{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block form%}
<form action="wiki">
    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
</form>
{% endblock %} 

{% block body %}
    {% if not error %}
    <h1>Create a New Page</h1>
    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        {{ new_page }}

        <input type="submit" class="btn btn-primary" style="margin-top:20px">
    </form>
    {% endif %}

    <h2>{{error}}</h2>

    {%if error%}
    <a href="{% url 'new_page' %}">Try creating a different page!</a>
    {% endif %}

{% endblock %}
